<nav class="navbar navbar-fixed-bottom navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-tab row ">
          <li class="col-xs-2" id="firstTab"><a href="#"><span class="iconify" width="2em" data-icon="logos:whatsapp" data-inline="false"></span> <span class="sr-only">(current)</span></a></li>
          <li class="col-xs-2  col-xs-offset-1 " id="thirdTab"><a href="#"><span class="iconify" width="2em" data-icon="logos:facebook" data-inline="false"></span></a></li>
          <li class="col-xs-2  col-xs-offset-1  "id="secondTab"><a href="#"><span class="iconify"  width="2em" data-icon="flat-color-icons:phone" data-inline="false"></span></a></li> 
        </ul>    
    </div>
  </nav>

  <div class="footer container">
    <div class="row">
        <div class="col-xs-6">
            <img id="footer-img"src="assets\imgs\bremer-main2.png" alt="">
        </div>
        <div class="col-xs-6">
            <p id="since-div">Since 1989</p>
            <p class="address">Jehan Street,</p>
            <p class="address">Mansoura,</p>
            <p class="address">Egypt.</p>
        </div>
    </div>
  </div>
